{{ define "main" }} {{ .Content }}
{{ $paginator := .Paginate (where .Site.RegularPages.ByTitle "Type" "posts").ByDate.Reverse }} {{ range $paginator.Pages }}
<div class="box-list">
  <a href="{{ .RelPermalink }}"><h2 class="page-title-list">{{ .LinkTitle }}</h2></a>
      {{ $dateMachine := .Date | time.Format "2006-01-02T15:04:05-07:00" }}
  {{ $dateHuman := .Date | time.Format ":date_long" }}
  <h3>Time published: <time datetime="{{ $dateMachine }}">{{ $dateHuman }}</time> </h3>
  <p>{{ index (split .Content "</p>") 0 | plainify | truncate 300 }}</p>
</div>
{{ end }}
<nav class="pagination">
  <ul class="pagination-list">

    {{ if $paginator.HasPrev }}
      <li>
        <a href="{{ $paginator.Prev.URL }}">«</a>
      </li>
    {{ end }}

    {{ range $paginator.Pagers }}
      <li class="{{ if eq . $paginator }}is-active{{ end }}">
        <a href="{{ .URL }}">{{ .PageNumber }}</a>
      </li>
    {{ end }}

    {{ if $paginator.HasNext }}
      <li>
        <a href="{{ $paginator.Next.URL }}">»</a>
      </li>
    {{ end }}

  </ul>
</nav>
{{ end }}