{{ define "main" }}
<h1>{{ .Title }}</h1>
{{ .Content }}
{{ $paginator := .Paginate .Pages }} {{ range $paginator.Pages }}
{{ $dateMachine := .Date | time.Format
"2006-01-02T15:04:05-07:00" }} {{ $dateHuman := .Date | time.Format ":date_long"}}
{{- if eq .Kind "page" }}
<div class="box-list">
  <a href="{{ .RelPermalink }}"><h2 class="page-title-list">{{ .LinkTitle }}</h2></a>
  <h3>Time published: <time datetime="{{ $dateMachine }}">{{ $dateHuman }}</time> </h3>
  <p>{{ index (split .Content "</p>") 0 | plainify | truncate 300 }}</p>
</div>
{{- else if eq .Kind "term"}}
<li>
<a href="{{ .RelPermalink }}"
  ><p class="page-title-list">
    {{ .LinkTitle | truncate 40 }} |
    <time datetime="{{ $dateMachine }}">{{ $dateHuman }}</time>
  </p></a
>
</li>
{{- end }}
{{ end }}
<nav class="pagination">
  <ul class="pagination-list">

    {{ if $paginator.HasPrev }}
      <li>
        <a href="{{ $paginator.Prev.URL }}">«</a>
      </li>
    {{ end }}

    {{ range $paginator.Pagers }}
      <li class="{{ if eq . $paginator }}is-active{{ end }}">
        <a href="{{ .URL }}">{{ .PageNumber }}</a>
      </li>
    {{ end }}

    {{ if $paginator.HasNext }}
      <li>
        <a href="{{ $paginator.Next.URL }}">»</a>
      </li>
    {{ end }}

  </ul>
</nav>
{{ end }}
