<meta charset="utf-8" />
<meta name="viewport" content="width=device-width" />
{{ if .IsHome }}
<title>{{ site.Title }}</title>
<meta property="og:title" content="{{ site.Title }}" />
{{ else }}
<title>{{ printf "%s | %s" .Title site.Title }}</title>
<meta property="og:title" content="{{ printf "%s | %s" .Title site.Title }}" />
<meta property="og:description" content="{{ index (split .Content "</p>") 0 | plainify | truncate 150 }}" />
{{ end }} {{ partialCached "head/css.html" . }} {{ partialCached "head/js.html"
. }}
