<meta charset="utf-8" />
<meta name="viewport" content="width=device-width" />
{{ if .IsHome }}
<title>{{ site.Title }}</title>
<meta property="og:title" content="{{ site.Title }}" />
<meta property="og:description" content="{{ .Description }}" />
{{ else }}
<title>{{ printf "%s | %s" .Title site.Title }}</title>
<meta property="og:title" content="{{ printf "%s | %s" .Title site.Title }}" />
<meta property="og:description" content="{{ index (split .Content "</p>") 0 | plainify | truncate 150 }}" />
{{ end }}
<meta property="og:url" content="{{ .Permalink }}" />
<meta property="og:image" content="{{ site.BaseURL }}avatar.png" />
{{ partialCached "head/css.html" . }} {{ partialCached "head/js.html"
. }}
<link
  href="https://fonts.googleapis.com/css2?family=Noto+Serif+CN:wght@400;600;800&display=swap"
  rel="stylesheet"
  type="text/css"
/>
<link
  href="https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap"
  rel="stylesheet"
  type="text/css"
/>

